@page
@model Hospitalizacion.App.Frontend.Pages.AuxiliarAdmin
@{
    ViewData["Title"]="admin Auxiliar";
}
<style>
    h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
    sans-serif;text-align: center;margin-left: 35%;margin-right: 35%;}
    div{color: blue;font-variant: small-caps;}
    .fondo{background-image: url(https://thumbs.dreamstime.com/z/s%C3%ADmbolo-de-la-medicina-16699269.jpg);}
  
</style>
<body class="fondo">
    

 <header class="fondo">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area=""
                            asp-page="../AuxiliarFrontend\AuxiliarAdmin">Auxiliar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area=""
                            asp-page="../FamiliarFrontend\FamiliarAdmin">Familiar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="../MedicoFrontend\MedicoAdmin">Medico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area=""
                            asp-page="../EnfermeroFrontend\EnfermeroAdmin">Enfermero</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area=""
                            asp-page="../PacienteFrontend\PacienteAdmin">Paciente</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1> Administrador de Auxiliares</h1>
<div style="text-align: center;">
    <button type="button" class="btn btn-outline-info"><a asp-page = "CrearAuxiliar" style="font-weight:bold  ;">Crear Auxiliar</a></button>
</div>
<div>
    <br>
</div>


<form method="post" >
     <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">TipoAuxiliar</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Genero</th>
                <th scope="col">Registro</th>
                <th scope="col">TargetaProfesional</th>
                <th scope="col" colspan="3">Opciones</th>
            </tr>
        </thead>
        <tbody >
            @foreach (var auxiliar in Model.Aux)
            {
                <tr>
                    <th scope="row">@auxiliar.Id</th>
                    
                    <td>@auxiliar.TipoAuxiliar</td>
                    <td>@auxiliar.Nombre</td>
                    <td>@auxiliar.Apellido</td>
                    <td>@auxiliar.Telefono</td>
                    <td>@auxiliar.Genero</td>
                    <td>@auxiliar.Registro</td>
                    <td>@auxiliar.TargetaProfesional</td>
                    
                    <td><button type="button" class="btn btn-outline-danger" style="font-weight:bold ;"><a asp-page="./EliminarAuxiliar" asp-route-id="@auxiliar.Id"> Eliminar</a></button></td>
                    <td><button type="button" class="btn btn-outline-warning"><a asp-page="./EditarAuxiliar" asp-route-id="@auxiliar.Id" style="font-weight:bold ;">Editar</a></button></td>
                    <td><button type="button" class="btn btn-outline-primary"><a asp-page="./VerAuxiliar" asp-route-id="@auxiliar.Id" style="font-weight:bold ;">Carnet Representativo</a></button></td>
                </tr>
                
            }   
        </tbody>   
    </table>
</form>
</body>
