@page
@model Hospitalizacion.App.Frontend.Pages.VerAuxiliarModel
@{
}
<style>
   h1{
    color: blue;
    text-align: center;
    text-decoration: underline ;
    text-decoration-style: dashed double;
    text-transform: uppercase;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 1.5 em;
   }
   .logo{background-image: url(https://img.freepik.com/foto-gratis/blur-hospital_1203-7957.jpg?w=2000);}
   .list-group-item{color: black;text-transform: uppercase;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
   #etiqueta{font-weight: bold;}
</style>
<body class="logo">
  

<h1>Informacion del Auxiliar</h1>



<form method="POST">
    <div class="card" style="width: 18rem;">
  <img src="https://cdn-icons-png.flaticon.com/128/3567/3567474.png" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">
        <label for="auxiliar">@Model.Auxiliar.Nombre @Model.Auxiliar.Apellido</label>
    </h5>
    <p class="card-text">Una pasión por poner a los pacientes primero: eso siempre es algo que buscas en un centro de salud.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span id="etiqueta">Tipo de Auxiliar : </span>@Model.Auxiliar.TipoAuxiliar</li>
    <li class="list-group-item"><span id="etiqueta">Contacto : </span>@Model.Auxiliar.Telefono</li>
    <li class="list-group-item"><span id="etiqueta">Genero : </span>@Model.Auxiliar.Genero</li>
  </ul>
  </div>
</div><br>
<form>
     <INPUT TYPE="button" VALUE="Retornar" onClick="history.go(-1);" class="btn btn-outline-success" style="margin-left:15% ;margin-rigth:15%;">
     </form>
</form>
</body>