@page
@model Hospitalizacion.App.Frontend.Pages.FamiliarAdminModel
@{
    ViewData["Title"]="admin Familiar";
}
<style>
    h1{font-variant: small-caps;color: blue;text-align: center;text-decoration: dotted double; margin-left: 35%;margin-right: 35%;}
    .fondo{background-image: url(https://thumbs.dreamstime.com/z/s%C3%ADmbolo-de-la-medicina-16699269.jpg);}
</style>
<body class="fondo"> 
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Familiar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area=""
                            asp-page="../AuxiliarFrontend\AuxiliarAdmin">Auxiliar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area=""
                            asp-page="../FamiliarFrontend\FamiliarAdmin">Familiar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="../MedicoFrontend\MedicoAdmin">Medico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area=""
                            asp-page="../EnfermeroFrontend\EnfermeroAdmin">Enfermero</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area=""
                            asp-page="../PacienteFrontend\PacienteAdmin">Paciente</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1> Administrador de Familiar</h1>
<div style="text-align: center;">
    <button type="button" class="btn btn-outline-info" style="font-weight:bold ;"><a asp-page = "CrearFamiliar"> Crear nuevo Familiar</a></button>
</div><br>
<form method="post">
    <table class="table table-blue table-striped">
        <thead>
            
            <th scope="col">Id</th>
             <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Genero</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Correo Electronico</th>
            
           
            <th scope="col" colspan="3">Opciones</th>
        </thead>   
        <tbody>
              @foreach (var familiar in Model.Fam)
            {
                <tr>
                    <th scope="row">@familiar.Id</th>
                    
                    <td>@familiar.Nombre</td>
                    <td>@familiar.Apellido</td>
                    <td>@familiar.Telefono</td>
                    <td>@familiar.Genero</td>                    
                    <td>@familiar.Parentesco</td>
                    <td>@familiar.Correo</td>
                    
                    
                    
                  
                    
                    <td><a asp-page="./ElminarFamiliar" asp-route-id="@familiar.Id" class="btn btn-outline-danger"> Eliminar</a></td>
                    <td><a asp-page="./EditarFamiliar" asp-route-id="@familiar.Id" class="btn btn-outline-warning">Editar Datos del Familiar</a></td>
                    <td><a asp-page="./VerFamiliar" asp-route-id="@familiar.Id" class="btn btn-outline-primary">Representante</a></td>
                </tr>
                
            }
         
        </tbody>     
    </table>
</form>
</body>
